html body {
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 16px;
  color: #404040;
  overflow-x: hidden;
}
html body{
  position: static;
}
html body .content,
html .bar-nav ~ .content{
  position: static;
  margin:43px 0;
  padding-top: 0;
}
.empty{text-align:center;margin-top:50px;overflow:hidden;}
.empty i{font-size: 200px;color:#eee;}
.table-view-cell > div.cell-body{
  margin-left:52px;
}
header.bar{
  background: #4AA3FD;
  border-bottom: 0;
}
header.bar *{
  color:#fff;
}
header.bar .btn{	
	width:30px;
}
.table-view-cell > div.cell-body > p{
  line-height: 1.2em;
  margin-top:.3em;
}

					.timedate{	
						font-size:12px;color:#999;
					}
					.timedate span{
						border:#F27A09 1px solid;border-radius:3px;font-size:12px;
						color:#F27A09;
						padding:2px;
						margin:0 2px 0 0;
					}
.table-view-custom{	
	background:inherit;
	border:0;
}
.table-view-custom .badge{	
}
.table-view-custom > li,
.table-view-custom > li:last-child{	
	margin-bottom:10px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background:#fff;
	padding: 11px 15px 11px 15px;
}
.table-view-custom .badge.b0{	
	border:0;
	background-color:#333;
	color:#fff;
}.table-view-custom .badge.b1{	
	border:0;
	background-color:#d9534f;
	color:#fff;
}
.table-view-custom .badge.b2{	
	border:0;
	background-color:#F27A09;
	color:#fff;
}
.table-view-custom .badge.b3{	
	border:0;
	background-color:#5cb85c;
	color:#fff;
}
.table-view-custom .cell-body .price{	
	color:#E51E25;
	float:right;
}

					.filterBox{	
						position:fixed;	
						width:100%;
						height:100%;
						z-index:999;
					}
					.filterBox .filter{
						position:fixed;	
						width:100%;
						height:200px;
						background:#fff;
						z-index:999;
					}
					.filterBox .filter table{
						width:100%;
					}
					.filterBox .filter table th,
					.filterBox .filter table td{	
						border : #D0D0D0 1px solid;
						color:#4c4c4c;
						background:#eee;
					}
					.filterBox .filter table th{	
						width:100px;
						height:100px;
					}
					.filterBox .filter table th.active{	
						border-color:#4AA3FD;
						background:#eee url(images/core.png) right bottom no-repeat;
					}
					ul.ttab,
					.filterBox .filter ul{	
						padding:0;
						display:table;
						width:100%;
					}
					ul.ttab li,
					.filterBox .filter ul li{
						width:33.3%;
						list-style-type:none;
						display:table-cell;
						text-align:center;
						padding:0 10px;
					}
					ul.ttab li span,
					.filterBox .filter ul li span{	
						display:block;
						background:#ccc;
						border-radius:2px;
					}
					ul.ttab li span.active,
					.filterBox .filter ul li span.active{	
						background : #4AA3FD;
						color:#fff;
					}

				.detail .filterBox .filter{
					height:110px;
					bottom:0;
				}
				.detail .filterBox .filter .llabel{	
					padding:10px 2em;
					text-align:center
				}
				ul.ttab,
				.detail .filterBox .filter ul{	
					border-collapse:collapse;
					margin:0;
				}
				.detail .filterBox .filter ul.row li{	
					border-bottom:0;
				}
				ul.ttab li,
				.detail .filterBox .filter ul li{	
					width:25%;
					border:#ECECED 1px solid;
					background:#fff;
					padding:0;
				}
				ul.ttab li.active span,
				.detail .filterBox .filter ul li.active span{	
					background:#71B7FF;
					color:#fff;
				}
				.detail .filterBox .filter ul li.empty{	}
				ul.ttab li span,
				.detail .filterBox .filter ul li span{	
					border-radius:0;
					height:39px;
					background:#fafafa;
					line-height:40px;
					font-size:14px;
				}
.grids,.grids *{	
	margin:0;
	padding:0;
}
.grids{	
	margin-bottom:12px;
	background:#fff;
}
.grids > li{	
	list-style-type:none;
	padding:12px 12px;
}
.grids.r1 > li.grids-header{	
	background:url(images/index1.png) no-repeat 12px center;
}
.grids.r2 > li.grids-header{	
	background:url(images/index2.png) no-repeat 12px center;
}
.grids.r3 > li.grids-header{	
	background:url(images/index3.png) no-repeat 12px center;
}
.grids.r4 > li.grids-header{	
	background:url(images/index4.png) no-repeat 12px center;
}
.grids .grids-header{	
	border-bottom:#ddd 1px solid;
}
.grids .grids-header h3{	
	font-weight:normal;
	padding-left:28px;
	font-size:18px;
}
.grids .grids-body{	
	font-size:14px;
}
.grids-icon{display:table;width:100%;}
.grids-icon li{
	font-size:12px;
	display:table-cell;width:20%;text-align:center;
	padding-top:44px;
}
.r2 .grids-icon li.g1{	
	background:url(images/index21.png) no-repeat center 0;
}
.r2 .grids-icon li.g2{	
	background:url(images/index22.png) no-repeat center 0;
}
.r2 .grids-icon li.g3{	
	background:url(images/index23.png) no-repeat center 0;
}
.r2 .grids-icon li.g4{	
	background:url(images/index24.png) no-repeat center 0;
}
.r2 .grids-icon li.g5{	
	background:url(images/index25.png) no-repeat center 0;
}
.r3 .grids-icon li.g1{	
	background:url(images/index31.png) no-repeat center 0;
}
.r3 .grids-icon li.g2{	
	background:url(images/index32.png) no-repeat center 0;
}
.r3 .grids-icon li.g3{	
	background:url(images/index33.png) no-repeat center 0;
}
.r3 .grids-icon li.g4{	
	background:url(images/index34.png) no-repeat center 0;
}
.r3 .grids-icon li.g5{	
	background:url(images/index35.png) no-repeat center 0;
}
.content > .table-view-detail:first-child,
.table-view.table-view-detail{	
	border:0;
	margin:0;
}
.table-view.table-view-detail .table-view-cell{	
	padding-right:15px;
}
.table-view-detail .table-view-cell dl{display:table;width:100%;padding:0;margin:0;}
.table-view-detail .table-view-cell dl > *{display:table-cell;}
.table-view-detail .table-view-cell dl > dt{font-size:1.1em;width:35%;}
.table-view-detail .table-view-cell dl > dd{text-align:right;color:#666;line-height: 1.2em;}
.table-view-detail .table-view-cell dl > dd.important{color:#d9534f;}
.step{}
.step ul{display:table;width:100%;margin:0;padding:0;position:relative;}
.step li{
	display:table-cell;width:20%;list-style:none;text-align:center;
	position:relative;
	font-size:14px;
	color:#4D4D4D;
}
.step li.active{	
	color:#5cb85c;
}
.step li.active span{	
	background-color:#5cb85c;
}
.step li.active .line{	
	border-color:#5cb85c;
}
.step li span{	
	position:relative;
	display:block;
	width:18px;
	height:18px;
	background-color:#4D4D4D;
	margin:0 auto;
	border-radius:50px;
	border:#fff 3px solid;
	z-index:2;
}
.step li .line{	
	border-top:#4D4D4D 2px solid;
	width:100%;
	position:absolute;
	top:31px;
	left:-50%;
	z-index:0;
}

.btn-radio{width:25px;height:27px;background:url(images/radio0.png) 0 0 no-repeat;border:0;}
.btn-radio.active{width:25px;height:27px;background:url(images/radio1.png) 0 0 no-repeat;border:0;}
.back-drop{	
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: #000;
	z-index: 99;
	transition:opacity .15s linear;
	opacity: 0;
}
sider{
	display:none;
}
sider,sider *{margin:0;padding:0;}
sider.active{display: block;}
.back-drop.active{	
	opacity: .5;
}
sider menu{
	position: fixed;
	top:0;
	right:-250px;
	bottom:0;
	margin:0;
	width:200px;
	background: #fafafa;
	z-index: 100;
	overflow-y:auto;
	-webkit-overflow-scrolling : touch;
	transition: right .15s linear;
	height:100%;
}
sider menu.active{	
	right:0;
}
sider li.table-view-cell{padding-right: 15px;}
.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
.notifications {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.notifications .notification {
  position: relative;
  width:100%;
  height: 0;
  line-height: 44px;
  overflow-y: hidden;
  background: #000;
  color: #fff;
  margin-bottom: 1px;
  opacity: 0;
  transition: all 0.15s cubic-bezier(0.68,-0.55,0.27,1.55);
  padding: 0 20px;
}
.notifications .notification.active {
  height: 44px;
  opacity: .8;
}
.notifications .notification.success {
  background: #1F9B29;
}
.notifications .notification.success:before {
  content: "\f058";
  font-family: FontAwesome;
  margin-right: 10px;
}
.notifications .notification.warn {
  background: #D97A02;
}
.notifications .notification.warn:before {
  content: "\f071";
  font-family: FontAwesome;
  margin-right: 10px;
}
.notifications .notification.error {
  background: #C71215;
}
.notifications .notification.error:before {
  content: "\f071";
  font-family: FontAwesome;
  margin-right: 10px;
}
.notifications .notification.info {
  background: #0D69C9;
}
.notifications .notification.info:before {
  content: "\f05a";
  font-family: FontAwesome;
  margin-right: 10px;
}
.notifications .notification .close {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.notifications .notification .close:before {
  font-family: FontAwesome;
  content: "\f00d";
}